@media (max-width: 1440px) {

  body {
    width: 768px;
  }
  
  .header {
    height: 60px;
    padding: 0 34px;
    position: relative;

    .nav__menu {
      position: absolute;
      flex-direction: column;
      text-align: center;
      top: -400px;
      left: -1%;
      width: 102%;
      height: 400px;
      transition: 0.8s ease;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.95);
      padding-top: 30px;
    }

    .nav__item {
      margin: 0 auto;
    }

    #expand-btn {
      display: block;
      &:hover {
        cursor: pointer;
      }
    }

    #expand-toggle:checked ~ .nav__menu {
      transform: translateY(calc(100% + 60px));
    }
  }
  
  .hero {
    &__title {
      font-size: 36px;
      top: 30px;
      left: 34px;
      line-height: 50px;
    }
  }

  .section {
    padding: 0 34px;
    margin-bottom: 70px;
  }

  .view-all {
    right: 34px;
  }
  
  .blog {
    .section-item__image {
      height: 280px;
    }

    .section-item__text {
      padding: 0;
    }

    .section-item__description {
      margin-top: 35px;
    }
  

    .section-item:last-child {      
      .section-item__text {
        padding: 0;
      }
    }
  }

  .latest-posts {
    .section-items {
      flex-direction: column;

      .section-item {
        flex-direction: row;
        width: 100%;

        .section-item__text {
          width: 100%;
        }
        .section-item__image {
          height: 240px;
        }
      }
      .section-item:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
  }

  .most-popular {
    margin-bottom: 160px;
    .section-items {
      .section-item {
        .section-item__image {
          height: 160px;
        }
      }  
    }
  }

  .info {
    flex-direction: column;

    .info-article {
      width: 100%;
      text-align: right;
      margin-top: 40px;
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;

    .contacts {
      text-align: center;
    }

    .socials {
      padding-top: 30px;
    }
  }
}