@media (max-width: 768px) {
  
  body {
    width: 320px;
  }

  .header {
    padding: 0px 10px;

    .nav__menu {
      top: -502px;
      height: 502px;
    }
  }

  .hero {
    &__title {
      font-size: 30px;
      top: 70px;
      left: 10px;
    }

    &__bg {
      height: 500px;
      object-fit: cover;
    }
  }

  .section {
    padding: 0 10px;
  }

  .view-all {
    position: static;
    display: block;
    margin-top: 20px;
  }

  .blog {
    .section-item {
      flex-direction: column;
    }

    .section-item__image {
      width: 100%;
      height: 250px;
    }

    .section-item__text {
      padding: 0;
    }

    .section-item__title {
      font-size: 20px;
    }

    .section-item__description {
      a {
        display: none;
      }     
    }
  

    .section-item:last-child {
      flex-direction: column;
    }
  }

  .latest-posts {
    .section-items {

      .section-item {
        flex-direction: column;

        .section-item__image {
          height: 210px;
        }
      }
      .section-item:nth-child(2) {
        flex-direction: column;
      }
    }
  }

  .most-popular {
    margin-bottom: 160px;

    .section-items {
      flex-direction: column;

      .section-item {
        width: 100%;

        .section-item__image {
          height: 150px;
        }
      }  
    }
  }

  .info {
    .info-subtitle {
      width: 100%;
    }

    .info-article {
      text-align: left;
    }
  }

  .footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 110px;
    h2 {
      font-size: 32px;
    }

    .contacts {
      font-size: 18px;
    }

    .copyright {
      font-size: 16px;
      bottom: 30px;
    }
  }
}